# Fraud detection

In [1]:
# SET UP ENVIRONMENT 
import pandas as pd

In [64]:
# IMPORT DATA
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project6_FraudDetection\\data\\'
# train_sample = pd.read_csv(dir + 'train_sample.csv.zip')
# train_sample
chunker = pd.read_csv(dir + 'train.csv.zip', chunksize=10000)
train = pd.DataFrame({'ip': [None], 'app': [None], 'device': [None], 'os': [None], 'channel': [None], 'click_time': [None], 
                      'attributed_time': [None], 'is_attributed': [None]})
for chunk in chunker:
    train = pd.concat([train, chunk])

KeyboardInterrupt:

In [56]:
train.shape

(100000, 8)

In [37]:
train_sample.sort_values('ip').query('is_attributed == 1')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ip</th>
      <th>app</th>
      <th>device</th>
      <th>os</th>
      <th>channel</th>
      <th>click_time</th>
      <th>attributed_time</th>
      <th>is_attributed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>56395</th>
      <td>2948</td>
      <td>45</td>
      <td>1</td>
      <td>2</td>
      <td>419</td>
      <td>2017-11-09 14:30:44</td>
      <td>2017-11-09 14:30:54</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28269</th>
      <td>4865</td>
      <td>19</td>
      <td>0</td>
      <td>24</td>
      <td>213</td>
      <td>2017-11-09 02:11:00</td>
      <td>2017-11-09 02:12:43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>95056</th>
      <td>5281</td>
      <td>35</td>
      <td>1</td>
      <td>13</td>
      <td>21</td>
      <td>2017-11-09 00:19:02</td>
      <td>2017-11-09 00:21:23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>78399</th>
      <td>5314</td>
      <td>10</td>
      <td>1</td>
      <td>1</td>
      <td>113</td>
      <td>2017-11-07 23:21:15</td>
      <td>2017-11-08 00:01:03</td>
      <td>1</td>
    </tr>
    <tr>
      <th>88104</th>
      <td>5314</td>
      <td>83</td>
      <td>0</td>
      <td>21</td>
      <td>171</td>
      <td>2017-11-06 23:07:45</td>
      <td>2017-11-06 23:16:28</td>
      <td>1</td>
    </tr>
    <tr>
      <th>47464</th>
      <td>5314</td>
      <td>18</td>
      <td>1</td>
      <td>19</td>
      <td>107</td>
      <td>2017-11-08 12:23:04</td>
      <td>2017-11-08 12:23:06</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15821</th>
      <td>5348</td>
      <td>19</td>
      <td>0</td>
      <td>29</td>
      <td>213</td>
      <td>2017-11-07 14:17:49</td>
      <td>2017-11-07 14:17:52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11680</th>
      <td>5348</td>
      <td>29</td>
      <td>1</td>
      <td>19</td>
      <td>343</td>
      <td>2017-11-07 23:07:12</td>
      <td>2017-11-07 23:07:41</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30073</th>
      <td>5348</td>
      <td>19</td>
      <td>40</td>
      <td>24</td>
      <td>213</td>
      <td>2017-11-09 10:47:39</td>
      <td>2017-11-09 10:47:54</td>
      <td>1</td>
    </tr>
    <tr>
      <th>80075</th>
      <td>5729</td>
      <td>19</td>
      <td>0</td>
      <td>0</td>
      <td>347</td>
      <td>2017-11-07 07:33:23</td>
      <td>2017-11-07 07:35:47</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29298</th>
      <td>6192</td>
      <td>35</td>
      <td>1</td>
      <td>19</td>
      <td>21</td>
      <td>2017-11-08 02:58:10</td>
      <td>2017-11-08 03:35:42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>99562</th>
      <td>6481</td>
      <td>5</td>
      <td>1</td>
      <td>13</td>
      <td>377</td>
      <td>2017-11-08 04:57:34</td>
      <td>2017-11-08 15:09:40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17976</th>
      <td>7350</td>
      <td>35</td>
      <td>1</td>
      <td>19</td>
      <td>21</td>
      <td>2017-11-08 00:59:09</td>
      <td>2017-11-08 01:07:33</td>
      <td>1</td>
    </tr>
    <tr>
      <th>35982</th>
      <td>7909</td>
      <td>8</td>
      <td>1</td>
      <td>13</td>
      <td>145</td>
      <td>2017-11-07 01:49:17</td>
      <td>2017-11-07 05:57:39</td>
      <td>1</td>
    </tr>
    <tr>
      <th>68379</th>
      <td>8180</td>
      <td>3</td>
      <td>1</td>
      <td>6</td>
      <td>173</td>
      <td>2017-11-07 04:32:51</td>
      <td>2017-11-07 04:33:40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27945</th>
      <td>11467</td>
      <td>19</td>
      <td>0</td>
      <td>0</td>
      <td>347</td>
      <td>2017-11-09 05:05:51</td>
      <td>2017-11-09 05:27:49</td>
      <td>1</td>
    </tr>
    <tr>
      <th>71723</th>
      <td>11967</td>
      <td>9</td>
      <td>1</td>
      <td>25</td>
      <td>445</td>
      <td>2017-11-07 23:04:31</td>
      <td>2017-11-08 06:43:39</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4603</th>
      <td>12506</td>
      <td>62</td>
      <td>1</td>
      <td>19</td>
      <td>21</td>
      <td>2017-11-08 05:56:57</td>
      <td>2017-11-08 08:56:58</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33269</th>
      <td>14888</td>
      <td>35</td>
      <td>1</td>
      <td>17</td>
      <td>274</td>
      <td>2017-11-07 10:35:40</td>
      <td>2017-11-07 11:37:53</td>
      <td>1</td>
    </tr>
    <tr>
      <th>36469</th>
      <td>15195</td>
      <td>3</td>
      <td>1</td>
      <td>32</td>
      <td>114</td>
      <td>2017-11-08 01:17:20</td>
      <td>2017-11-08 01:17:35</td>
      <td>1</td>
    </tr>
    <tr>
      <th>77625</th>
      <td>16535</td>
      <td>19</td>
      <td>0</td>
      <td>24</td>
      <td>347</td>
      <td>2017-11-08 10:17:16</td>
      <td>2017-11-08 10:39:19</td>
      <td>1</td>
    </tr>
    <tr>
      <th>62320</th>
      <td>17460</td>
      <td>9</td>
      <td>1</td>
      <td>13</td>
      <td>489</td>
      <td>2017-11-09 03:52:26</td>
      <td>2017-11-09 03:52:48</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15033</th>
      <td>18204</td>
      <td>107</td>
      <td>1</td>
      <td>19</td>
      <td>171</td>
      <td>2017-11-08 02:04:55</td>
      <td>2017-11-08 06:12:02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>60748</th>
      <td>20806</td>
      <td>29</td>
      <td>1</td>
      <td>17</td>
      <td>213</td>
      <td>2017-11-09 01:12:09</td>
      <td>2017-11-09 01:13:01</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8862</th>
      <td>22109</td>
      <td>11</td>
      <td>1</td>
      <td>19</td>
      <td>487</td>
      <td>2017-11-07 01:04:23</td>
      <td>2017-11-07 01:19:12</td>
      <td>1</td>
    </tr>
    <tr>
      <th>50744</th>
      <td>24458</td>
      <td>35</td>
      <td>1</td>
      <td>13</td>
      <td>21</td>
      <td>2017-11-08 01:49:07</td>
      <td>2017-11-08 06:23:40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48327</th>
      <td>29016</td>
      <td>19</td>
      <td>0</td>
      <td>24</td>
      <td>347</td>
      <td>2017-11-08 13:10:00</td>
      <td>2017-11-08 14:55:24</td>
      <td>1</td>
    </tr>
    <tr>
      <th>47994</th>
      <td>31277</td>
      <td>202</td>
      <td>1</td>
      <td>16</td>
      <td>421</td>
      <td>2017-11-07 12:52:42</td>
      <td>2017-11-07 14:28:28</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27500</th>
      <td>31859</td>
      <td>29</td>
      <td>1</td>
      <td>15</td>
      <td>213</td>
      <td>2017-11-07 15:45:36</td>
      <td>2017-11-07 15:48:34</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8434</th>
      <td>32247</td>
      <td>18</td>
      <td>1</td>
      <td>20</td>
      <td>134</td>
      <td>2017-11-08 00:43:56</td>
      <td>2017-11-08 00:48:35</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>6929</th>
      <td>307483</td>
      <td>9</td>
      <td>1</td>
      <td>22</td>
      <td>442</td>
      <td>2017-11-08 20:00:28</td>
      <td>2017-11-09 08:52:49</td>
      <td>1</td>
    </tr>
    <tr>
      <th>86631</th>
      <td>308431</td>
      <td>19</td>
      <td>0</td>
      <td>21</td>
      <td>213</td>
      <td>2017-11-09 06:44:16</td>
      <td>2017-11-09 06:45:06</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1917</th>
      <td>309576</td>
      <td>5</td>
      <td>1</td>
      <td>32</td>
      <td>113</td>
      <td>2017-11-09 08:47:51</td>
      <td>2017-11-09 08:47:55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>91153</th>
      <td>311255</td>
      <td>8</td>
      <td>1</td>
      <td>19</td>
      <td>145</td>
      <td>2017-11-09 04:34:37</td>
      <td>2017-11-09 08:34:40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>73589</th>
      <td>313069</td>
      <td>19</td>
      <td>0</td>
      <td>866</td>
      <td>282</td>
      <td>2017-11-09 05:27:17</td>
      <td>2017-11-09 05:28:52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>88569</th>
      <td>318873</td>
      <td>19</td>
      <td>97</td>
      <td>24</td>
      <td>213</td>
      <td>2017-11-09 08:44:56</td>
      <td>2017-11-09 08:46:04</td>
      <td>1</td>
    </tr>
    <tr>
      <th>46859</th>
      <td>322854</td>
      <td>19</td>
      <td>74</td>
      <td>24</td>
      <td>333</td>
      <td>2017-11-09 10:33:55</td>
      <td>2017-11-09 10:38:02</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33480</th>
      <td>325066</td>
      <td>19</td>
      <td>0</td>
      <td>21</td>
      <td>213</td>
      <td>2017-11-09 05:43:26</td>
      <td>2017-11-09 05:45:04</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10582</th>
      <td>325093</td>
      <td>35</td>
      <td>1</td>
      <td>19</td>
      <td>21</td>
      <td>2017-11-09 00:02:24</td>
      <td>2017-11-09 07:11:19</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18509</th>
      <td>325132</td>
      <td>10</td>
      <td>1</td>
      <td>37</td>
      <td>113</td>
      <td>2017-11-09 05:02:02</td>
      <td>2017-11-09 05:02:33</td>
      <td>1</td>
    </tr>
    <tr>
      <th>72169</th>
      <td>325318</td>
      <td>10</td>
      <td>1</td>
      <td>47</td>
      <td>113</td>
      <td>2017-11-09 04:21:02</td>
      <td>2017-11-09 04:21:34</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44356</th>
      <td>327799</td>
      <td>5</td>
      <td>1</td>
      <td>47</td>
      <td>113</td>
      <td>2017-11-09 09:51:40</td>
      <td>2017-11-09 09:52:13</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1771</th>
      <td>330861</td>
      <td>35</td>
      <td>1</td>
      <td>22</td>
      <td>21</td>
      <td>2017-11-08 18:54:44</td>
      <td>2017-11-08 22:39:52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>66236</th>
      <td>335367</td>
      <td>29</td>
      <td>1</td>
      <td>6</td>
      <td>213</td>
      <td>2017-11-09 12:29:52</td>
      <td>2017-11-09 12:31:04</td>
      <td>1</td>
    </tr>
    <tr>
      <th>85366</th>
      <td>336297</td>
      <td>19</td>
      <td>0</td>
      <td>21</td>
      <td>213</td>
      <td>2017-11-08 21:04:30</td>
      <td>2017-11-08 21:06:07</td>
      <td>1</td>
    </tr>
    <tr>
      <th>94354</th>
      <td>336420</td>
      <td>5</td>
      <td>1</td>
      <td>7</td>
      <td>113</td>
      <td>2017-11-09 11:48:37</td>
      <td>2017-11-09 11:49:13</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23606</th>
      <td>343178</td>
      <td>29</td>
      <td>2</td>
      <td>19</td>
      <td>213</td>
      <td>2017-11-09 12:02:56</td>
      <td>2017-11-09 12:03:50</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20949</th>
      <td>344113</td>
      <td>9</td>
      <td>1</td>
      <td>19</td>
      <td>466</td>
      <td>2017-11-08 18:14:45</td>
      <td>2017-11-09 03:48:19</td>
      <td>1</td>
    </tr>
    <tr>
      <th>31142</th>
      <td>344369</td>
      <td>9</td>
      <td>2</td>
      <td>13</td>
      <td>445</td>
      <td>2017-11-09 06:01:22</td>
      <td>2017-11-09 11:50:42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19794</th>
      <td>344551</td>
      <td>18</td>
      <td>1</td>
      <td>25</td>
      <td>449</td>
      <td>2017-11-09 03:45:40</td>
      <td>2017-11-09 06:05:22</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28970</th>
      <td>346097</td>
      <td>19</td>
      <td>16</td>
      <td>0</td>
      <td>213</td>
      <td>2017-11-09 15:27:07</td>
      <td>2017-11-09 15:28:15</td>
      <td>1</td>
    </tr>
    <tr>
      <th>93842</th>
      <td>346361</td>
      <td>115</td>
      <td>1</td>
      <td>22</td>
      <td>203</td>
      <td>2017-11-09 15:14:10</td>
      <td>2017-11-09 15:15:34</td>
      <td>1</td>
    </tr>
    <tr>
      <th>37850</th>
      <td>346860</td>
      <td>145</td>
      <td>50</td>
      <td>0</td>
      <td>320</td>
      <td>2017-11-09 13:03:36</td>
      <td>2017-11-09 13:04:59</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28999</th>
      <td>347722</td>
      <td>19</td>
      <td>0</td>
      <td>0</td>
      <td>213</td>
      <td>2017-11-09 13:02:11</td>
      <td>2017-11-09 13:03:34</td>
      <td>1</td>
    </tr>
    <tr>
      <th>91997</th>
      <td>351158</td>
      <td>29</td>
      <td>1</td>
      <td>19</td>
      <td>213</td>
      <td>2017-11-09 13:27:29</td>
      <td>2017-11-09 13:32:51</td>
      <td>1</td>
    </tr>
    <tr>
      <th>94370</th>
      <td>351271</td>
      <td>29</td>
      <td>1</td>
      <td>19</td>
      <td>213</td>
      <td>2017-11-09 08:01:54</td>
      <td>2017-11-09 08:07:09</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44298</th>
      <td>353320</td>
      <td>10</td>
      <td>1</td>
      <td>36</td>
      <td>113</td>
      <td>2017-11-09 12:49:29</td>
      <td>2017-11-09 12:49:58</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14419</th>
      <td>354266</td>
      <td>5</td>
      <td>1</td>
      <td>30</td>
      <td>113</td>
      <td>2017-11-09 04:43:03</td>
      <td>2017-11-09 04:43:30</td>
      <td>1</td>
    </tr>
    <tr>
      <th>83145</th>
      <td>357344</td>
      <td>84</td>
      <td>0</td>
      <td>866</td>
      <td>101</td>
      <td>2017-11-09 07:02:40</td>
      <td>2017-11-09 07:21:55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>92628</th>
      <td>358438</td>
      <td>34</td>
      <td>1</td>
      <td>13</td>
      <td>243</td>
      <td>2017-11-08 23:33:47</td>
      <td>2017-11-08 23:53:53</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>227 rows × 8 columns</p>
</div>

In [53]:
train_sample.groupby(['ip', 'is_attributed'])['app'].count().sort_values(ascending=False)

ip      is_attributed
5348    0                666
5314    0                613
73487   0                439
73516   0                399
53454   0                280
114276  0                219
26995   0                218
95766   0                205
17149   0                186
100275  0                173
105475  0                167
105560  0                149
111025  0                136
43793   0                135
86767   0                134
137052  0                128
5178    0                117
49602   0                116
48282   0                112
48170   0                112
5147    0                109
201182  0                104
45745   0                100
209663  0                 96
114220  0                 95
48240   0                 94
44744   0                 92
119289  0                 90
84896   0                 89
53964   0                 88
                        ...
137753  0                  1
137770  0                  1
137773  0                  1
137818  0                  1
137830  0                  1
137430  0                  1
137409  0                  1
137330  0                  1
137064  0                  1
136924  0                  1
136941  0                  1
136976  0                  1
136986  0                  1
136987  0                  1
136997  0                  1
137012  0                  1
137018  0                  1
137030  0                  1
137095  0                  1
137293  0                  1
137157  0                  1
137159  0                  1
137167  0                  1
137168  1                  1
137208  0                  1
137213  0                  1
137237  0                  1
137239  0                  1
137263  0                  1
9       0                  1
Name: app, Length: 34930, dtype: int64

In [60]:
train_sample.columns

Index(['ip', 'app', 'device', 'os', 'channel', 'click_time', 'attributed_time',
       'is_attributed'],
      dtype='object')