# Allstate Purchase Predictions
As a customer shops an insurance policy, heshe will receive a number of quotes with different coverage options before purchasing a plan. This is represented in this challenge as a series of rows that include a customer ID, information about the customer, information about the quoted policy, and the cost. Your task is to predict the purchased coverage options using a limited subset of the total interaction history. If the eventual purchase can be predicted sooner in the shopping window, the quoting process is shortened and the issuer is less likely to lose the customer's business.

### Files
The training and test sets contain transaction history for customers that ended up purchasing a policy. For each customer_ID, you are given their quote history. In the training set you have the entire quote history, the last row of which contains the coverage options they purchased. In the test set, you have only a partial history of the quotes and do not have the purchased coverage options. These are truncated to certain lengths to simulate making predictions with less history (higher uncertainty) or more history (lower uncertainty).

For each customer_ID in the test set, you must predict the seven coverage options they end up purchasing.

### What is a customer?
Each customer has many shopping points, where a shopping point is defined by a customer with certain characteristics viewing a product and its associated cost at a particular time.

Some customer characteristics may change over time (e.g. as the customer changes or provides new information), and the cost depends on both the product and the customer characteristics.
A customer may represent a collection of people, as policies can cover more than one person.
A customer may purchase a product that was not viewed!

### Product Options
Each product has 7 customizable options selected by customers, each with 2, 3, or 4 ordinal values possible:

### Variables
1. customer_ID - A unique identifier for the customer
2. shopping_pt - Unique identifier for the shopping point of a given customer
3. record_type - 0=shopping point, 1=purchase point
4. day - Day of the week (0-6, 0=Monday)
5. time - Time of day (HH:MM)
6. state - State where shopping point occurred
7. location - Location ID where shopping point occurred
8. group_size - How many people will be covered under the policy (1, 2, 3 or 4)
9. homeowner - Whether the customer owns a home or not (0=no, 1=yes)
10. car_age - Age of the customer’s car
11. car_value - How valuable was the customer’s car when new
12. risk_factor - An ordinal assessment of how risky the customer is (1, 2, 3, 4)
13. age_oldest - Age of the oldest person in customer's group
14. age_youngest - Age of the youngest person in customer’s group
15. married_couple - Does the customer group contain a married couple (0=no, 1=yes)
16. C_previous - What the customer formerly had or currently has for product option C (0=nothing, 1, 2, 3,4)
17. duration_previous -  how long (in years) the customer was covered by their previous issuer
18. A,B,C,D,E,F,G - the coverage options
19. cost - cost of the quoted coverage options

In [1]:
# set up environment
import sys
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [2]:
# READ files
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project3_AllState\\'
train = pd.read_csv(dir + 'train.csv.zip')
test = pd.read_csv(dir + 'test_v2.csv.zip')

## Intro summaries and data exploration
1. common columns
2. shape of both sets
3. null values
4. unique values
5. Data Types
6. Correlation between columns

In [3]:
train.shape, test.shape

((665249, 25), (198856, 25))

In [4]:
# COMMON COLUMNS
if list(train.columns) == list(test.columns):
    print('Both data set have the same columns')

pd.Series(train.columns)

Both data set have the same columns

0           customer_ID
1           shopping_pt
2           record_type
3                   day
4                  time
5                 state
6              location
7            group_size
8             homeowner
9               car_age
10            car_value
11          risk_factor
12           age_oldest
13         age_youngest
14       married_couple
15           C_previous
16    duration_previous
17                    A
18                    B
19                    C
20                    D
21                    E
22                    F
23                    G
24                 cost
dtype: object

In [5]:
# % OF NULL VALUES
setA = (train.isnull().sum() / train.shape[0]) * 100
setB = (test.isnull().sum() / test.shape[0]) * 100
pd.concat([setA, setB], join='outer', axis=1, keys=('Train', 'Test')).query('Train !=0 | Test !=0')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>location</th>
      <td>0.000000</td>
      <td>0.340950</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>0.230139</td>
      <td>0.371626</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>36.139551</td>
      <td>37.960635</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>2.812631</td>
      <td>4.912600</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>2.812631</td>
      <td>4.912600</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
# # OF UNIQUE VALUES IN EACH COLUMN
setA = train.apply(lambda x: x.value_counts().count())
setB = test.apply(lambda x: x.value_counts().count())
pd.concat([setA, setB], axis=1, keys=('Train', 'Test'))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>customer_ID</th>
      <td>97009</td>
      <td>55716</td>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>record_type</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>day</th>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>time</th>
      <td>1204</td>
      <td>1045</td>
    </tr>
    <tr>
      <th>state</th>
      <td>36</td>
      <td>36</td>
    </tr>
    <tr>
      <th>location</th>
      <td>6248</td>
      <td>6029</td>
    </tr>
    <tr>
      <th>group_size</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>homeowner</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>car_age</th>
      <td>67</td>
      <td>57</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>age_oldest</th>
      <td>58</td>
      <td>58</td>
    </tr>
    <tr>
      <th>age_youngest</th>
      <td>60</td>
      <td>60</td>
    </tr>
    <tr>
      <th>married_couple</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>A</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>B</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>C</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>D</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>E</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>F</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>G</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>cost</th>
      <td>531</td>
      <td>430</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
# UNIQUE VALUES IN EACH OF COLUMN
column_list = []
def col_to_list(x):
    if x.value_counts().count() < 20:
        column_list.append(x.name)
train.apply(col_to_list)

unique_values = pd.DataFrame({'Column': [None], 'Values': [None]}).iloc[:,[1,0]]

for col in column_list:
    temp_df = pd.DataFrame({'Column': col, 'Values': [train.loc[:, col].unique()]})
    unique_values = pd.concat([unique_values, temp_df], axis=0)
unique_values

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>shopping_pt</td>
      <td>[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>record_type</td>
      <td>[0, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>day</td>
      <td>[0, 3, 4, 2, 1, 5, 6]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>group_size</td>
      <td>[2, 1, 3, 4]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>homeowner</td>
      <td>[0, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>car_value</td>
      <td>[g, e, c, d, f, nan, h, i, b, a]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>risk_factor</td>
      <td>[3.0, 4.0, nan, 2.0, 1.0]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>married_couple</td>
      <td>[1, 0]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>C_previous</td>
      <td>[1.0, 3.0, 2.0, 4.0, nan]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>duration_previous</td>
      <td>[2.0, 13.0, 4.0, 3.0, 9.0, 0.0, 1.0, 8.0, 14.0...</td>
    </tr>
    <tr>
      <th>0</th>
      <td>A</td>
      <td>[1, 0, 2]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>B</td>
      <td>[0, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>C</td>
      <td>[2, 3, 1, 4]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>D</td>
      <td>[2, 3, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>E</td>
      <td>[1, 0]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>[2, 0, 1, 3]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>G</td>
      <td>[2, 1, 3, 4]</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
# DATA TYPES
pd.concat([train.dtypes, test.dtypes], axis=1, keys=['Train', 'Test'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>customer_ID</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>record_type</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>day</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>time</th>
      <td>object</td>
      <td>object</td>
    </tr>
    <tr>
      <th>state</th>
      <td>object</td>
      <td>object</td>
    </tr>
    <tr>
      <th>location</th>
      <td>int64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>group_size</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>homeowner</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>car_age</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>object</td>
      <td>object</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>float64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>age_oldest</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>age_youngest</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>married_couple</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>float64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>float64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>A</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>B</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>C</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>D</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>E</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>F</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>G</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>cost</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
  </tbody>
</table>
</div>

In [349]:
# CORRELATION BETWEEN COLUMNS
corr = train.corr()
corr.to_csv(dir + 'Correlations.csv', index_label='Columns')
corr.iloc[5:14, 14:21].round(3) * 100

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>group_size</th>
      <td>1.8</td>
      <td>2.8</td>
      <td>8.8</td>
      <td>4.6</td>
      <td>2.3</td>
      <td>1.0</td>
      <td>4.8</td>
    </tr>
    <tr>
      <th>homeowner</th>
      <td>4.8</td>
      <td>3.4</td>
      <td>18.4</td>
      <td>10.9</td>
      <td>8.1</td>
      <td>3.1</td>
      <td>9.5</td>
    </tr>
    <tr>
      <th>car_age</th>
      <td>-43.7</td>
      <td>-8.9</td>
      <td>-16.7</td>
      <td>-13.8</td>
      <td>-27.8</td>
      <td>-24.9</td>
      <td>-8.4</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>-6.0</td>
      <td>-1.2</td>
      <td>-16.3</td>
      <td>-13.5</td>
      <td>-10.4</td>
      <td>6.5</td>
      <td>-19.3</td>
    </tr>
    <tr>
      <th>age_oldest</th>
      <td>0.4</td>
      <td>2.5</td>
      <td>15.7</td>
      <td>8.4</td>
      <td>10.0</td>
      <td>-1.2</td>
      <td>14.2</td>
    </tr>
    <tr>
      <th>age_youngest</th>
      <td>0.5</td>
      <td>1.8</td>
      <td>15.0</td>
      <td>8.2</td>
      <td>9.9</td>
      <td>-0.7</td>
      <td>13.4</td>
    </tr>
    <tr>
      <th>married_couple</th>
      <td>2.3</td>
      <td>2.1</td>
      <td>9.2</td>
      <td>4.9</td>
      <td>3.3</td>
      <td>-0.1</td>
      <td>4.5</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>12.3</td>
      <td>3.3</td>
      <td>65.4</td>
      <td>41.1</td>
      <td>11.1</td>
      <td>-3.4</td>
      <td>9.9</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>3.0</td>
      <td>0.7</td>
      <td>15.6</td>
      <td>10.3</td>
      <td>7.5</td>
      <td>-1.6</td>
      <td>15.3</td>
    </tr>
  </tbody>
</table>
</div>

## Data Manipulation and Cleaning:
1. Join both sets for easier manipulation
* Car_Value change to int
* Time to datetime.Time object
* Day to datetime.Day object
* Try to save few columns as ordered scale
*

In [10]:
# JOIN BOTH SETS FOR EASIER MANIPULATION
train['Set_No'] = 0
test['Set_No'] = 1
total = pd.concat([train, test], ignore_index=True)

In [11]:
# CONVERT CAR VALUE TO INTEGER
def car_value_converter(x):
    if x == 'a':
        return 1
    elif x == 'b':
        return 2
    elif x == 'c':
        return 3
    elif x == 'd':
        return 4
    elif x == 'e':
        return 5
    elif x == 'f':
        return 6
    elif x == 'g':
        return 7
    elif x == 'h':
        return 8
    else:
        return np.nan
    

total.car_value = total.car_value.apply(car_value_converter)

In [12]:
# CONVERT TIME INTO DATETIME.TIME OBJECT
total.time = total.time.apply(lambda x: dt.strptime(x, '%H:%M').time())

In [208]:
# CONVERT day into DAY format

In [13]:
# FILL LOCATION WITH THE MOST POPULAR LOCATION
fill_loc = total.location.value_counts().index[0]
total.location.fillna(fill_loc, inplace=True)

In [14]:
# FILL CAR VALUE WITH THE MOST POPULAR CAR VALUE
fill_car = total.car_value.value_counts().index[0]
total.car_value.fillna(fill_car, inplace=True)

C_Previous has total of 28.840 missing values what constitutes 2.8% and 4.9% of rows in training and test datasets. Therefore we need to find out a scientific way to fill the null values as it might be an important feature in predicting C. 
1. First approach would be fill it with existing C. But historically previous_C = final C only in 71.5% of cases

In [44]:
# FILL C_PREVIOUS NULLS BY existing C

# find unique customer ID of those who have null previous C
C_previous_nulls = total[total.C_previous.isnull()]
C_previous_C_ID = C_previous_nulls.customer_ID.unique()
total.query('customer_ID in @C_previous_C_ID').to_csv(dir + 'C_previous_nulls.csv', index=False, header=True)
# fill na
# total.C_previous.fillna(total.C, inplace=True)

## DATA Analysis
1. How often final C is C_previous?

In [20]:
# DIVIDE SETS As previously
train_set = total.query('Set_No == 0')
test_set = total.query('Set_No == 1')

C Analysis
1. 71.5% of time final C is previous C (print it as %) - therefore is understanding the rest 28%.
* Using other approach 60.2% of C have the same C as in the step1.
* Table which shows how C was changing over shopping steps for intuitive thoughts. The last option is bought by customer!

In [350]:
# 1)
(train_set.query('record_type == 1')['C_previous'] == train_set.query('record_type == 1')['C']).sum() \
/ train_set.query('record_type == 1')['C'].count()
# 2)
c_set = train_set
c_start = c_set.query('record_type == 0 & shopping_pt == 1').loc[:, ['customer_ID', 'C']]
c_start.columns = ['customer_ID', 'C_start']
c_end = c_set.query('record_type == 1').loc[:, ['customer_ID', 'C']]
c_end.columns = ['customer_ID', 'C_end']
c_merged = pd.merge(c_start, c_end, how='outer', )
(c_merged.C_start == c_merged.C_end).sum() / c_merged.C_start.count()
# 3)
train_set.pivot_table('C', index=['customer_ID', 'shopping_pt']).unstack()

customer_ID          0.001958
shopping_pt         -0.023635
record_type          0.001428
day                 -0.009100
location             0.030187
group_size           0.047601
homeowner            0.094525
car_age             -0.084395
risk_factor         -0.192723
age_oldest           0.141886
age_youngest         0.133767
married_couple       0.045304
C_previous           0.099414
duration_previous    0.153097
A                    0.045335
B                    0.024826
C                    0.107925
D                    0.103398
E                    0.102273
F                    0.071318
G                    1.000000
cost                -0.011274
Set_No                    NaN
Name: G, dtype: float64

G Analysis
1. Only 56% of final G is the same as 1st step. Therefore there is a room for improvement here.
* Show by Age - The older is the mean age, the more expensive is option
* Show G by State - there are states like FL in which people choose only 3 in big margin. 
* Which coumns correlates with G: risk_factor (-19%), duration_previous (15%), age_youngest, age_oldest, C, D, E

In [335]:
# 1)
setA = train_set.query('shopping_pt == 1')['G'].reset_index(drop=True)
setB = train_set.query('record_type == 1')['G'].reset_index(drop=True)
(setA == setB).sum() /train_set.query('record_type == 1')['G'].count()      #0.5592573884897277
# 2)
setA = train_set.query('record_type == 1')
setA['age_mean'] = (setA.age_oldest + setA.age_youngest) / 2
setA.iloc[:, [23, 26]].groupby('G').describe()
# 3) 
train_set.query('record_type == 1').groupby(['state', 'G'])['customer_ID'].count().unstack()
# 4)
train.corr()['G']

C:\Users\Lenovo\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>G</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
    <tr>
      <th>state</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>AL</th>
      <td>899.0</td>
      <td>1941.0</td>
      <td>494.0</td>
      <td>261.0</td>
    </tr>
    <tr>
      <th>AR</th>
      <td>723.0</td>
      <td>674.0</td>
      <td>103.0</td>
      <td>69.0</td>
    </tr>
    <tr>
      <th>CO</th>
      <td>1358.0</td>
      <td>1393.0</td>
      <td>690.0</td>
      <td>99.0</td>
    </tr>
    <tr>
      <th>CT</th>
      <td>1974.0</td>
      <td>679.0</td>
      <td>82.0</td>
      <td>101.0</td>
    </tr>
    <tr>
      <th>DC</th>
      <td>139.0</td>
      <td>193.0</td>
      <td>114.0</td>
      <td>94.0</td>
    </tr>
    <tr>
      <th>DE</th>
      <td>227.0</td>
      <td>225.0</td>
      <td>88.0</td>
      <td>57.0</td>
    </tr>
    <tr>
      <th>FL</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>11696.0</td>
      <td>2909.0</td>
    </tr>
    <tr>
      <th>GA</th>
      <td>213.0</td>
      <td>652.0</td>
      <td>273.0</td>
      <td>132.0</td>
    </tr>
    <tr>
      <th>IA</th>
      <td>94.0</td>
      <td>459.0</td>
      <td>109.0</td>
      <td>27.0</td>
    </tr>
    <tr>
      <th>ID</th>
      <td>220.0</td>
      <td>436.0</td>
      <td>200.0</td>
      <td>34.0</td>
    </tr>
    <tr>
      <th>IN</th>
      <td>2022.0</td>
      <td>1087.0</td>
      <td>450.0</td>
      <td>190.0</td>
    </tr>
    <tr>
      <th>KS</th>
      <td>240.0</td>
      <td>460.0</td>
      <td>126.0</td>
      <td>33.0</td>
    </tr>
    <tr>
      <th>KY</th>
      <td>1311.0</td>
      <td>858.0</td>
      <td>152.0</td>
      <td>48.0</td>
    </tr>
    <tr>
      <th>MD</th>
      <td>930.0</td>
      <td>1930.0</td>
      <td>1026.0</td>
      <td>336.0</td>
    </tr>
    <tr>
      <th>ME</th>
      <td>436.0</td>
      <td>405.0</td>
      <td>36.0</td>
      <td>134.0</td>
    </tr>
    <tr>
      <th>MO</th>
      <td>265.0</td>
      <td>1726.0</td>
      <td>142.0</td>
      <td>72.0</td>
    </tr>
    <tr>
      <th>MS</th>
      <td>446.0</td>
      <td>945.0</td>
      <td>103.0</td>
      <td>72.0</td>
    </tr>
    <tr>
      <th>MT</th>
      <td>103.0</td>
      <td>218.0</td>
      <td>127.0</td>
      <td>29.0</td>
    </tr>
    <tr>
      <th>ND</th>
      <td>NaN</td>
      <td>382.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NE</th>
      <td>193.0</td>
      <td>180.0</td>
      <td>83.0</td>
      <td>34.0</td>
    </tr>
    <tr>
      <th>NH</th>
      <td>548.0</td>
      <td>335.0</td>
      <td>177.0</td>
      <td>76.0</td>
    </tr>
    <tr>
      <th>NM</th>
      <td>190.0</td>
      <td>534.0</td>
      <td>183.0</td>
      <td>93.0</td>
    </tr>
    <tr>
      <th>NV</th>
      <td>443.0</td>
      <td>466.0</td>
      <td>1122.0</td>
      <td>92.0</td>
    </tr>
    <tr>
      <th>NY</th>
      <td>1433.0</td>
      <td>9450.0</td>
      <td>1933.0</td>
      <td>845.0</td>
    </tr>
    <tr>
      <th>OH</th>
      <td>NaN</td>
      <td>1114.0</td>
      <td>5226.0</td>
      <td>324.0</td>
    </tr>
    <tr>
      <th>OK</th>
      <td>185.0</td>
      <td>1393.0</td>
      <td>337.0</td>
      <td>108.0</td>
    </tr>
    <tr>
      <th>OR</th>
      <td>463.0</td>
      <td>1115.0</td>
      <td>520.0</td>
      <td>106.0</td>
    </tr>
    <tr>
      <th>PA</th>
      <td>1975.0</td>
      <td>3507.0</td>
      <td>2529.0</td>
      <td>942.0</td>
    </tr>
    <tr>
      <th>RI</th>
      <td>426.0</td>
      <td>315.0</td>
      <td>34.0</td>
      <td>103.0</td>
    </tr>
    <tr>
      <th>SD</th>
      <td>NaN</td>
      <td>82.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>TN</th>
      <td>1108.0</td>
      <td>1280.0</td>
      <td>155.0</td>
      <td>111.0</td>
    </tr>
    <tr>
      <th>UT</th>
      <td>555.0</td>
      <td>855.0</td>
      <td>593.0</td>
      <td>99.0</td>
    </tr>
    <tr>
      <th>WA</th>
      <td>721.0</td>
      <td>1184.0</td>
      <td>1232.0</td>
      <td>438.0</td>
    </tr>
    <tr>
      <th>WI</th>
      <td>296.0</td>
      <td>760.0</td>
      <td>382.0</td>
      <td>109.0</td>
    </tr>
    <tr>
      <th>WV</th>
      <td>85.0</td>
      <td>469.0</td>
      <td>153.0</td>
      <td>73.0</td>
    </tr>
    <tr>
      <th>WY</th>
      <td>36.0</td>
      <td>76.0</td>
      <td>27.0</td>
      <td>27.0</td>
    </tr>
  </tbody>
</table>
</div>

In [263]:
setA.groupby('homeowner')['G'].count()
setA.groupby(['age_oldest', 'G'])['customer_ID'].count().unstack()
#setA.groupby('homeowner')['customer_ID'].count()
print(setA.groupby('G')['customer_ID'].count())
setA.groupby(['married_couple', 'G'])['customer_ID'].count().unstack()
setA.to_csv(dir + 'Train_record_type1.csv', index=False)

G
1    20257
2    37778
3    30697
4     8277
Name: customer_ID, dtype: int64

Additional check. Whether example submission file has the same customer ID as in the test file. 
And it has 100%

In [351]:
samp_sub = pd.read_csv(dir + 'sampleSubmission.csv')
(pd.Series(test_set.customer_ID.unique()) == pd.Series(samp_sub.customer_ID.unique())).sum() \
/ max(len(test_set.customer_ID.unique()), len(samp_sub.customer_ID.unique()))

1.0

## Predicting approaches
1. Simplest approach: Final option == First option  (Result: min=56%, max=75%, mean=)
* Same as above but when possible use C_previous instead of C from point 1 (Result: min=56, max=72%, mean=)
* Predict G only by the state of customer (result: 34% vs 56% previously)
* Use Final option as dependent variable and customer charcteristics as independent. Predict useing only 1st step.

In [195]:
# METHOD1: FIRST OPTION AS FINAL OPTION
# Calculate the prediction accuracy
opt_predict = train_set.query('shopping_pt == 1')[['customer_ID', 'A', 'B', 'C', 'D', 'E', 'F', 'G']]
opt_predict.reset_index(drop=True, inplace=True)
opt_final = train_set.query('record_type == 1')[['customer_ID', 'A', 'B', 'C', 'D', 'E', 'F', 'G']]
opt_final.reset_index(drop=True, inplace=True)
predict_stat = pd.DataFrame({'Option': [None], 'Prediction': [None]})
for col in ['A', 'B', 'C', 'D', 'E', 'F', 'G']:
    temp_df = pd.DataFrame({'Option': [col], 'Prediction': [(opt_predict[col] == opt_final[col]).sum() / opt_final[col].count()]})
    predict_stat = pd.concat([predict_stat, temp_df])
predict_stat.dropna(inplace=True)

# Use this method to predict Test set
opt_predict_method1 = test_set.query('shopping_pt == 1')[['customer_ID', 'A', 'B', 'C', 'D', 'E', 'F', 'G']]
plan_ID = opt_predict_method1['A'].astype('str')
for col in ['B', 'C', 'D', 'E', 'F', 'G']:
    plan_ID += opt_predict_method1[col].astype('str')
opt_predict_method1 = pd.concat([opt_predict['customer_ID'], plan_ID], axis=1, ignore_index=True)
opt_predict_method1.columns = ['customer_ID', 'plan']
opt_predict_method1.to_csv(dir + 'opt_predict_method1.csv', index=False)

# print result table
predict_stat

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Option</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A</td>
      <td>0.644569</td>
    </tr>
    <tr>
      <th>0</th>
      <td>B</td>
      <td>0.718119</td>
    </tr>
    <tr>
      <th>0</th>
      <td>C</td>
      <td>0.601759</td>
    </tr>
    <tr>
      <th>0</th>
      <td>D</td>
      <td>0.696533</td>
    </tr>
    <tr>
      <th>0</th>
      <td>E</td>
      <td>0.702337</td>
    </tr>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>0.631642</td>
    </tr>
    <tr>
      <th>0</th>
      <td>G</td>
      <td>0.559257</td>
    </tr>
  </tbody>
</table>
</div>

In [313]:
# METHOD2: FIRST OPTION AS FINAL OPTION BUT C_PREVIOUS
# Calculate the prediction accuracy
opt_final = train_set.query('record_type == 1')[['customer_ID', 'A', 'B', 'C', 'D', 'E', 'F', 'G']]
opt_final.reset_index(drop=True, inplace=True)

opt_predict = train_set.query('shopping_pt == 1')[['customer_ID', 'A', 'B', 'C', 'D', 'E', 'F', 'G']]
C_previous_df = pd.DataFrame({'C_previous': train_set[train_set.customer_ID != np.nan].groupby('customer_ID')['C_previous'].min()})
opt_predict = pd.merge(opt_predict, C_previous_df, how='left', left_on='customer_ID', right_index=True)
opt_predict.C_previous.fillna(opt_predict.C, inplace=True)
opt_predict.C = opt_predict.C_previous
opt_predict.drop('C_previous', axis=1, inplace=True)
opt_predict.C = opt_predict.C.astype('int', inplace=True)
opt_predict.reset_index(drop=True, inplace=True)

predict_stat = pd.DataFrame({'Option': [None], 'Prediction': [None]})
for col in ['A', 'B', 'C', 'D', 'E', 'F', 'G']:
    temp_df = pd.DataFrame({'Option': [col], 'Prediction': [(opt_predict[col] == opt_final[col]).sum() / opt_final[col].count()]})
    predict_stat = pd.concat([predict_stat, temp_df])
predict_stat.dropna(inplace=True)

# Use this method on Test Set
opt_predict = test_set.query('shopping_pt == 1')[['customer_ID', 'A', 'B', 'C', 'D', 'E', 'F', 'G']]
C_previous_df = pd.DataFrame({'C_previous': test_set[test_set.customer_ID != np.nan].groupby('customer_ID')['C_previous'].min()})
opt_predict = pd.merge(opt_predict, C_previous_df, how='left', left_on='customer_ID', right_index=True)
opt_predict.C_previous.fillna(opt_predict.C, inplace=True)
opt_predict.C = opt_predict.C_previous
opt_predict.drop('C_previous', axis=1, inplace=True)
opt_predict.C = opt_predict.C.astype('int', inplace=True)

# Copy actual best prediction
actual_best = opt_predict.copy()

plan_ID = opt_predict['A'].astype('str')
for col in ['B', 'C', 'D', 'E', 'F', 'G']:
    plan_ID += opt_predict[col].astype('str')
opt_predict_method2 = pd.concat([opt_predict['customer_ID'], plan_ID], axis=1, ignore_index=True)
opt_predict_method2.columns = ['customer_ID', 'plan']
opt_predict_method2.to_csv(dir + 'opt_predict_method2.csv', index=False)
    
# print result table
predict_stat

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Option</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A</td>
      <td>0.644569</td>
    </tr>
    <tr>
      <th>0</th>
      <td>B</td>
      <td>0.718119</td>
    </tr>
    <tr>
      <th>0</th>
      <td>C</td>
      <td>0.718748</td>
    </tr>
    <tr>
      <th>0</th>
      <td>D</td>
      <td>0.696533</td>
    </tr>
    <tr>
      <th>0</th>
      <td>E</td>
      <td>0.702337</td>
    </tr>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>0.631642</td>
    </tr>
    <tr>
      <th>0</th>
      <td>G</td>
      <td>0.559257</td>
    </tr>
  </tbody>
</table>
</div>

In [329]:
# METHOD3: PREDICTING G BASED ON STATE
# state df show the most common final option for G per state
df_final = train_set.query('record_type == 1')
state_df = pd.DataFrame({'state': [None], 'option': [None]})
for state in df_final.state.unique():
    opt = df_final.query('state == @state').groupby('G')['customer_ID'].count().idxmax()
    temp_df = pd.DataFrame({'state': [state], 'option': [opt]})
    state_df = pd.concat([state_df, temp_df], ignore_index=True)
state_df.dropna(inplace=True)
state_df = state_df.iloc[:, [1, 0]]

# calculate prediction for train set
opt_final = train_set.query('record_type == 1')[['customer_ID', 'G']]
opt_final.reset_index(drop=True, inplace=True)
opt_predict = train_set.query('shopping_pt == 1')[['customer_ID', 'state']]
opt_predict = pd.merge(opt_predict, state_df, how='inner')
opt_predict.drop('state', axis=1, inplace=True)

result_G = (opt_predict['option'] == opt_final['G']).sum() / opt_final['G'].count()
result_G

0.34167963797173456

In [ ]:
# USE FINAL OPTION AS DEPENDENT VARIABLE (DO NOT TAKE SHOPPING PT INTO CALC)
set = train.query('record_type == 1')