# Allstate Purchase Predictions
As a customer shops an insurance policy, heshe will receive a number of quotes with different coverage options before
purchasing a plan. This is represented in this challenge as a series of rows that include a customer ID, information
about the customer, information about the quoted policy, and the cost. Your task is to predict the purchased coverage
options using a limited subset of the total interaction history. If the eventual purchase can be predicted sooner in
the shopping window, the quoting process is shortened and the issuer is less likely to lose the customer's business.

1. customer_ID - A unique identifier for the customer
2. shopping_pt - Unique identifier for the shopping point of a given customer
3. record_type - 0=shopping point, 1=purchase point
4. day - Day of the week (0-6, 0=Monday)
5. time - Time of day (HH:MM)
6. state - State where shopping point occurred
7. location - Location ID where shopping point occurred
8. group_size - How many people will be covered under the policy (1, 2, 3 or 4)
9. homeowner - Whether the customer owns a home or not (0=no, 1=yes)
10. car_age - Age of the customer’s car
11. car_value - How valuable was the customer’s car when new
12. risk_factor - An ordinal assessment of how risky the customer is (1, 2, 3, 4)
13. age_oldest - Age of the oldest person in customer's group
14. age_youngest - Age of the youngest person in customer’s group
15. married_couple - Does the customer group contain a married couple (0=no, 1=yes)
16. C_previous - What the customer formerly had or currently has for product option C (0=nothing, 1, 2, 3,4)
17. duration_previous -  how long (in years) the customer was covered by their previous issuer
18. A,B,C,D,E,F,G - the coverage options
19. cost - cost of the quoted coverage options

In [39]:
# set up environment
import sys
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [2]:
# READ files
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project3_AllState\\'
train = pd.read_csv(dir + 'train.csv.zip')
test = pd.read_csv(dir + 'test_v2.csv.zip')

## Intro summaries and data exploration
1. common columns
2. shape of both sets
3. null values
4. unique values
5. Data Types

In [3]:
train.shape, test.shape

((665249, 25), (198856, 25))

In [37]:
# COMMON COLUMNS
if list(train.columns) == list(test.columns):
    print('Both data set have the same columns')

pd.Series(train.columns)

Both data set have the same columns

0           customer_ID
1           shopping_pt
2           record_type
3                   day
4                  time
5                 state
6              location
7            group_size
8             homeowner
9               car_age
10            car_value
11          risk_factor
12           age_oldest
13         age_youngest
14       married_couple
15           C_previous
16    duration_previous
17                    A
18                    B
19                    C
20                    D
21                    E
22                    F
23                    G
24                 cost
dtype: object

In [130]:
# % OF NULL VALUES
setA = (train.isnull().sum() / train.shape[0]) * 100
setB = (test.isnull().sum() / test.shape[0]) * 100
pd.concat([setA, setB], join='outer', axis=1, keys=('Train', 'Test')).query('Train !=0 | Test !=0')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>location</th>
      <td>0.000000</td>
      <td>0.340950</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>0.230139</td>
      <td>0.371626</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>36.139551</td>
      <td>37.960635</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>2.812631</td>
      <td>4.912600</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>2.812631</td>
      <td>4.912600</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
# # OF UNIQUE VALUES IN EACH COLUMN
setA = train.apply(lambda x: x.value_counts().count())
setB = test.apply(lambda x: x.value_counts().count())
pd.concat([setA, setB], axis=1, keys=('Train', 'Test'))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>customer_ID</th>
      <td>97009</td>
      <td>55716</td>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>record_type</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>day</th>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>time</th>
      <td>1204</td>
      <td>1045</td>
    </tr>
    <tr>
      <th>state</th>
      <td>36</td>
      <td>36</td>
    </tr>
    <tr>
      <th>location</th>
      <td>6248</td>
      <td>6029</td>
    </tr>
    <tr>
      <th>group_size</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>homeowner</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>car_age</th>
      <td>67</td>
      <td>57</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>age_oldest</th>
      <td>58</td>
      <td>58</td>
    </tr>
    <tr>
      <th>age_youngest</th>
      <td>60</td>
      <td>60</td>
    </tr>
    <tr>
      <th>married_couple</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>16</td>
      <td>16</td>
    </tr>
    <tr>
      <th>A</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>B</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>C</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>D</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>E</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>F</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>G</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>cost</th>
      <td>531</td>
      <td>430</td>
    </tr>
  </tbody>
</table>
</div>

In [129]:
# UNIQUE VALUES IN EACH OF COLUMN
column_list = []
def col_to_list(x):
    if x.value_counts().count() < 20:
        column_list.append(x.name)
train.apply(col_to_list)

unique_values = pd.DataFrame({'Column': [None], 'Values': [None]}).iloc[:,[1,0]]

for col in column_list:
    temp_df = pd.DataFrame({'Column': col, 'Values': [train.loc[:, col].unique()]})
    unique_values = pd.concat([unique_values, temp_df], axis=0)
unique_values

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>0</th>
      <td>shopping_pt</td>
      <td>[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>record_type</td>
      <td>[0, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>day</td>
      <td>[0, 3, 4, 2, 1, 5, 6]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>group_size</td>
      <td>[2, 1, 3, 4]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>homeowner</td>
      <td>[0, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>car_value</td>
      <td>[g, e, c, d, f, nan, h, i, b, a]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>risk_factor</td>
      <td>[3.0, 4.0, nan, 2.0, 1.0]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>married_couple</td>
      <td>[1, 0]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>C_previous</td>
      <td>[1.0, 3.0, 2.0, 4.0, nan]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>duration_previous</td>
      <td>[2.0, 13.0, 4.0, 3.0, 9.0, 0.0, 1.0, 8.0, 14.0...</td>
    </tr>
    <tr>
      <th>0</th>
      <td>A</td>
      <td>[1, 0, 2]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>B</td>
      <td>[0, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>C</td>
      <td>[2, 3, 1, 4]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>D</td>
      <td>[2, 3, 1]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>E</td>
      <td>[1, 0]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>[2, 0, 1, 3]</td>
    </tr>
    <tr>
      <th>0</th>
      <td>G</td>
      <td>[2, 1, 3, 4]</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
# DATA TYPES
pd.concat([train.dtypes, test.dtypes], axis=1, keys=['Train', 'Test'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>customer_ID</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>record_type</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>day</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>time</th>
      <td>object</td>
      <td>object</td>
    </tr>
    <tr>
      <th>state</th>
      <td>object</td>
      <td>object</td>
    </tr>
    <tr>
      <th>location</th>
      <td>int64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>group_size</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>homeowner</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>car_age</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>object</td>
      <td>object</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>float64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>age_oldest</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>age_youngest</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>married_couple</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>float64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>float64</td>
      <td>float64</td>
    </tr>
    <tr>
      <th>A</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>B</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>C</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>D</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>E</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>F</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>G</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
    <tr>
      <th>cost</th>
      <td>int64</td>
      <td>int64</td>
    </tr>
  </tbody>
</table>
</div>

## Data Manipulation and Cleaning:
1. Join both sets for easier manipulation
* Car_Value change to int
* Time to datetime.Time object
* Day to datetime.Day object
* Try to save few columns as ordered scale
*

In [4]:
# JOIN BOTH SETS FOR EASIER MANIPULATION
train['Set_No'] = 0
test['Set_No'] = 1
total = pd.concat([train, test], ignore_index=True)

In [5]:
# CONVERT CAR VALUE TO INTEGER
def car_value_converter(x):
    if x == 'a':
        return 1
    elif x == 'b':
        return 2
    elif x == 'c':
        return 3
    elif x == 'd':
        return 4
    elif x == 'e':
        return 5
    elif x == 'f':
        return 6
    elif x == 'g':
        return 7
    elif x == 'h':
        return 8
    else:
        return np.nan
    

total.car_value = total.car_value.apply(car_value_converter)

In [6]:
# CONVERT TIME INTO DATETIME.TIME OBJECT
total.time = total.time.apply(lambda x: dt.strptime(x, '%H:%M').time())

In [208]:
# CONVERT day into DAY format

In [35]:
# FILL LOCATION WITH THE MOST POPULAR LOCATION
fill_loc = total.location.value_counts().index[0]
total.location.fillna(fill_loc, inplace=True)

In [36]:
# FILL CAR VALUE WITH THE MOST POPULAR CAR VALUE
fill_car = total.car_value.value_counts().index[0]
total.car_value.fillna(fill_car, inplace=True)

C_Previous has total of 28.840 missing values what constitutes 2.8% and 4.9% of rows in training and test datasets. Therefore we need to find out a scientific way to fill the null values as it might be an important feature in predicting C. 
1. First approach would be fill it with existing C. But historically previous_C = C only in 70% of cases

In [44]:
# FILL C_PREVIOUS NULLS BY existing C

# export as csv for better insight 
C_previous_nulls = total[total.C_previous.isnull()]
C_previous_C_ID = C_previous_nulls.customer_ID.unique()
total.query('customer_ID in @C_previous_C_ID').to_csv(dir + 'C_previous_nulls.csv', index=False, header=True)
# C_previous == C
(total.C_previous == total.C).sum() / total.C_previous.count()      # result=0.7016
# fill na
total.C_previous.fillna(total.C, inplace=True)

## DATA Analysis
1. How often final C is C_previous?

In [70]:
# DIVIDE SETS As previously
train_set = total.query('Set_No == 0')
test_set = total.query('Set_No == 1')

C Analysis
1. 72.4% of time final C is previous C (print it as %) - therefore is understanding the rest 28%.
2. using other approach 60.2% of C have the same C as in the step1.

In [98]:
# 1)
c1 =(train_set.query('record_type == 1')['C_previous'] == train_set.query('record_type == 1')['C']).sum() \
/ train_set.query('record_type == 1')['C_previous'].count()
# 2)
c_set = train_set
c_start = c_set.query('record_type == 0 & shopping_pt == 1').loc[:, ['customer_ID', 'C']]
c_start.columns = ['customer_ID', 'C_start']
c_end = c_set.query('record_type == 1').loc[:, ['customer_ID', 'C']]
c_end.columns = ['customer_ID', 'C_end']
c_merged = pd.merge(c_start, c_end, how='outer', )
(c_merged.C_start == c_merged.C_end).sum() / c_merged.C_start.count()
# 3)

In [140]:
setA = train_set.pivot_table('C', index=['customer_ID', 'shopping_pt']).unstack()
setB = train.query('record_type == 1').loc[:, ['customer_ID', 'record_type']]
setC = pd.merge(setA, setB, how='outer', left_index=True, right_on='customer_ID')

C:\Users\Lenovo\AppData\Roaming\Python\Python36\site-packages\pandas\core\reshape\merge.py:558: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [148]:
setA

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="13" halign="left">C</th>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
    </tr>
    <tr>
      <th>customer_ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10000000</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000005</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000007</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000013</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000014</th>
      <td>3.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000016</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000019</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000023</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000025</th>
      <td>3.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000026</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000027</th>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000028</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000031</th>
      <td>3.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000032</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000033</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000034</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000036</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000037</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000038</th>
      <td>4.0</td>
      <td>4.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000039</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000040</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000041</th>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000042</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000043</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000047</th>
      <td>4.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000048</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000049</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000052</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000054</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10000055</th>
      <td>3.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>10152682</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152685</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152687</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152688</th>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152689</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152690</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152691</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152692</th>
      <td>2.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152693</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152694</th>
      <td>1.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152697</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152698</th>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152699</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152701</th>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152702</th>
      <td>1.0</td>
      <td>3.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152703</th>
      <td>2.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152704</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152706</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152707</th>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152709</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152710</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152711</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152713</th>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152716</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152717</th>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152718</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152720</th>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152721</th>
      <td>3.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152723</th>
      <td>2.0</td>
      <td>3.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10152724</th>
      <td>3.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>97009 rows × 13 columns</p>
</div>

In [120]:
c_set.head().transpose()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>8</th>
      <th>22</th>
      <th>64</th>
      <th>88</th>
      <th>95</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>customer_ID</th>
      <td>10000000</td>
      <td>10000007</td>
      <td>10000025</td>
      <td>10000031</td>
      <td>10000032</td>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>record_type</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>day</th>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>time</th>
      <td>12:07:00</td>
      <td>14:26:00</td>
      <td>15:26:00</td>
      <td>19:09:00</td>
      <td>18:37:00</td>
    </tr>
    <tr>
      <th>state</th>
      <td>IN</td>
      <td>PA</td>
      <td>OH</td>
      <td>OR</td>
      <td>OR</td>
    </tr>
    <tr>
      <th>location</th>
      <td>10001</td>
      <td>10008</td>
      <td>10027</td>
      <td>10033</td>
      <td>10034</td>
    </tr>
    <tr>
      <th>group_size</th>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>homeowner</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>car_age</th>
      <td>2</td>
      <td>11</td>
      <td>15</td>
      <td>15</td>
      <td>12</td>
    </tr>
    <tr>
      <th>car_value</th>
      <td>7</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>risk_factor</th>
      <td>3</td>
      <td>NaN</td>
      <td>2</td>
      <td>NaN</td>
      <td>3</td>
    </tr>
    <tr>
      <th>age_oldest</th>
      <td>46</td>
      <td>43</td>
      <td>52</td>
      <td>25</td>
      <td>29</td>
    </tr>
    <tr>
      <th>age_youngest</th>
      <td>42</td>
      <td>43</td>
      <td>17</td>
      <td>25</td>
      <td>29</td>
    </tr>
    <tr>
      <th>married_couple</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>C_previous</th>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>duration_previous</th>
      <td>2</td>
      <td>4</td>
      <td>0</td>
      <td>8</td>
      <td>14</td>
    </tr>
    <tr>
      <th>A</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>B</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>C</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>D</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>E</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>F</th>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>G</th>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>cost</th>
      <td>634</td>
      <td>602</td>
      <td>604</td>
      <td>665</td>
      <td>606</td>
    </tr>
    <tr>
      <th>Set_No</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [102]:
setA = train_set.pivot_table(['customer_ID'], index=['shopping_pt', 'A'], aggfunc='count', ).unstack()
setB = train_set.pivot_table(['customer_ID'], index=['shopping_pt', 'B'], aggfunc='count', ).unstack()
pd.concat([setA, setB], axis=1)
#pd.pivot_table()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="5" halign="left">customer_ID</th>
    </tr>
    <tr>
      <th>A</th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>0</th>
      <th>1</th>
    </tr>
    <tr>
      <th>shopping_pt</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>22769</td>
      <td>63439</td>
      <td>10801</td>
      <td>58455</td>
      <td>38554</td>
    </tr>
    <tr>
      <th>2</th>
      <td>21647</td>
      <td>63325</td>
      <td>12037</td>
      <td>54593</td>
      <td>42416</td>
    </tr>
    <tr>
      <th>3</th>
      <td>20960</td>
      <td>62734</td>
      <td>13315</td>
      <td>52571</td>
      <td>44438</td>
    </tr>
    <tr>
      <th>4</th>
      <td>19677</td>
      <td>58510</td>
      <td>13254</td>
      <td>48920</td>
      <td>42521</td>
    </tr>
    <tr>
      <th>5</th>
      <td>18067</td>
      <td>52691</td>
      <td>12682</td>
      <td>44317</td>
      <td>39123</td>
    </tr>
    <tr>
      <th>6</th>
      <td>15373</td>
      <td>45318</td>
      <td>11480</td>
      <td>38134</td>
      <td>34037</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11756</td>
      <td>35492</td>
      <td>9300</td>
      <td>29673</td>
      <td>26875</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7504</td>
      <td>23886</td>
      <td>6568</td>
      <td>19669</td>
      <td>18289</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3893</td>
      <td>13048</td>
      <td>3769</td>
      <td>10648</td>
      <td>10062</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1520</td>
      <td>5563</td>
      <td>1642</td>
      <td>4454</td>
      <td>4271</td>
    </tr>
    <tr>
      <th>11</th>
      <td>436</td>
      <td>1693</td>
      <td>525</td>
      <td>1332</td>
      <td>1322</td>
    </tr>
    <tr>
      <th>12</th>
      <td>83</td>
      <td>337</td>
      <td>105</td>
      <td>275</td>
      <td>250</td>
    </tr>
    <tr>
      <th>13</th>
      <td>6</td>
      <td>31</td>
      <td>13</td>
      <td>28</td>
      <td>22</td>
    </tr>
  </tbody>
</table>
</div>