# Desription
Bike sharing systems are a means of renting bicycles where the process of obtaining membership, rental, and bike return is automated via a network of kiosk locations throughout a city. Using these systems, people are able rent a bike from a one location and return it to a different place on an as-needed basis. Currently, there are over 500 bike-sharing programs around the world.

The data generated by these systems makes them attractive for researchers because the duration of travel, departure location, arrival location, and time elapsed is explicitly recorded. Bike sharing systems therefore function as a sensor network, which can be used for studying mobility in a city. In this competition, participants are asked to combine historical usage patterns with weather data in order to forecast bike rental demand in the Capital Bikeshare program in Washington, D.C.

# Data
You are provided hourly rental data spanning two years. For this competition, the training set is comprised of the first 19 days of each month, while the test set is the 20th to the end of the month. You must predict the total count of bikes rented during each hour covered by the test set, using only information available prior to the rental period.

Data Fields
datetime - hourly date + timestamp  
season -  1 = spring, 2 = summer, 3 = fall, 4 = winter 
holiday - whether the day is considered a holiday
workingday - whether the day is neither a weekend nor holiday
weather - 1: Clear, Few clouds, Partly cloudy, Partly cloudy 
2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist 
3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds 
4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 
temp - temperature in Celsius
atemp - "feels like" temperature in Celsius
humidity - relative humidity
windspeed - wind speed
casual - number of non-registered user rentals initiated
registered - number of registered user rentals initiated
count - number of total rentals

Data Fields
1. datetime - hourly date + timestamp  
* season -  1 = spring, 2 = summer, 3 = fall, 4 = winter 
* holiday - whether the day is considered a holiday
* workingday - whether the day is neither a weekend nor holiday
* weather - 1: Clear, Few clouds, Partly cloudy, Partly cloudy 
	* 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist 
	* 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds 
	* 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 
* temp - temperature in Celsius
* atemp - "feels like" temperature in Celsius
* humidity - relative humidity
* windspeed - wind speed
* casual - number of non-registered user rentals initiated
* registered - number of registered user rentals initiated
* count - number of total rentals

In [69]:
import pandas as pd
import numpy as np

diro = 'C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project6_BikeDemand\\data\\'
train = pd.read_csv(diro + 'train.csv', parse_dates=True)
test = pd.read_csv(diro + 'test.csv')
samsub = pd.read_csv(diro + 'sampleSubmission.csv')

print('Import completed')

Import completed

In [70]:
train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>season</th>
      <th>holiday</th>
      <th>workingday</th>
      <th>weather</th>
      <th>temp</th>
      <th>atemp</th>
      <th>humidity</th>
      <th>windspeed</th>
      <th>casual</th>
      <th>registered</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2011-01-01 00:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>81</td>
      <td>0.0</td>
      <td>3</td>
      <td>13</td>
      <td>16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2011-01-01 01:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.02</td>
      <td>13.635</td>
      <td>80</td>
      <td>0.0</td>
      <td>8</td>
      <td>32</td>
      <td>40</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2011-01-01 02:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.02</td>
      <td>13.635</td>
      <td>80</td>
      <td>0.0</td>
      <td>5</td>
      <td>27</td>
      <td>32</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2011-01-01 03:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>75</td>
      <td>0.0</td>
      <td>3</td>
      <td>10</td>
      <td>13</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2011-01-01 04:00:00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>9.84</td>
      <td>14.395</td>
      <td>75</td>
      <td>0.0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
print('Number of rows \n\ttrain:{}\n\ttest:{}\nNumber of columns\n\ttrain:{}\n\ttest:{}'
      .format(train.shape[0], test.shape[0], train.shape[1], test.shape[1]))

Number of rows
	train:10886
	test:6493
Number of columns
	train:12
	test:9

In [32]:
# common columns
common = list(set(train.columns).intersection(set(test.columns)))

In [57]:
nans = pd.concat([train.isnull().sum(), test.isnull().sum()], axis=1)
nans.columns=['Train', 'Test']
print('Amount of Null values:\n')
print(nans.T)
print('\nColumns which are not in Test data: {}'.format(list(nans[nans['Test'] != 0].index)))

Amount of Null values:

       atemp  casual  count  datetime  holiday  humidity  registered  season  \
Train    0.0     0.0    0.0       0.0      0.0       0.0         0.0     0.0
Test     0.0     NaN    NaN       0.0      0.0       0.0         NaN     0.0

       temp  weather  windspeed  workingday
Train   0.0      0.0        0.0         0.0
Test    0.0      0.0        0.0         0.0

Columns which are not in Test data: ['casual', 'count', 'registered']

In [64]:
train.loc[:, common].describe().loc[['mean', 'min', 'max'], :]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>temp</th>
      <th>atemp</th>
      <th>windspeed</th>
      <th>weather</th>
      <th>humidity</th>
      <th>season</th>
      <th>holiday</th>
      <th>workingday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>mean</th>
      <td>20.23086</td>
      <td>23.655084</td>
      <td>12.799395</td>
      <td>1.418427</td>
      <td>61.88646</td>
      <td>2.506614</td>
      <td>0.028569</td>
      <td>0.680875</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.82000</td>
      <td>0.760000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.00000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>41.00000</td>
      <td>45.455000</td>
      <td>56.996900</td>
      <td>4.000000</td>
      <td>100.00000</td>
      <td>4.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [68]:
train.datetime

0        2011-01-01 00:00:00
1        2011-01-01 01:00:00
2        2011-01-01 02:00:00
3        2011-01-01 03:00:00
4        2011-01-01 04:00:00
5        2011-01-01 05:00:00
6        2011-01-01 06:00:00
7        2011-01-01 07:00:00
8        2011-01-01 08:00:00
9        2011-01-01 09:00:00
10       2011-01-01 10:00:00
11       2011-01-01 11:00:00
12       2011-01-01 12:00:00
13       2011-01-01 13:00:00
14       2011-01-01 14:00:00
15       2011-01-01 15:00:00
16       2011-01-01 16:00:00
17       2011-01-01 17:00:00
18       2011-01-01 18:00:00
19       2011-01-01 19:00:00
20       2011-01-01 20:00:00
21       2011-01-01 21:00:00
22       2011-01-01 22:00:00
23       2011-01-01 23:00:00
24       2011-01-02 00:00:00
25       2011-01-02 01:00:00
26       2011-01-02 02:00:00
27       2011-01-02 03:00:00
28       2011-01-02 04:00:00
29       2011-01-02 06:00:00
                ...
10856    2012-12-18 18:00:00
10857    2012-12-18 19:00:00
10858    2012-12-18 20:00:00
10859    2012-12-18 21:00:00
10860    2012-12-18 22:00:00
10861    2012-12-18 23:00:00
10862    2012-12-19 00:00:00
10863    2012-12-19 01:00:00
10864    2012-12-19 02:00:00
10865    2012-12-19 03:00:00
10866    2012-12-19 04:00:00
10867    2012-12-19 05:00:00
10868    2012-12-19 06:00:00
10869    2012-12-19 07:00:00
10870    2012-12-19 08:00:00
10871    2012-12-19 09:00:00
10872    2012-12-19 10:00:00
10873    2012-12-19 11:00:00
10874    2012-12-19 12:00:00
10875    2012-12-19 13:00:00
10876    2012-12-19 14:00:00
10877    2012-12-19 15:00:00
10878    2012-12-19 16:00:00
10879    2012-12-19 17:00:00
10880    2012-12-19 18:00:00
10881    2012-12-19 19:00:00
10882    2012-12-19 20:00:00
10883    2012-12-19 21:00:00
10884    2012-12-19 22:00:00
10885    2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: object

## Prepara Data

#### Use only columns which occur in test set.

In [ ]:
train =