In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# import data
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project2_Expedia\\'
chunker = pd.read_csv(dir + 'train.csv', nrows=100000)
train = pd.DataFrame(columns=[])
train_set = None
test_set = pd.read_csv(dir + 'test.csv')
dest_set  = pd.read_csv(dir + 'destinations.csv')

In [10]:
train_set.head().transpose()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>date_time</th>
      <td>2014-08-11 07:46:59</td>
      <td>2014-08-11 08:22:12</td>
      <td>2014-08-11 08:24:33</td>
      <td>2014-08-09 18:05:16</td>
      <td>2014-08-09 18:08:18</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>348</td>
      <td>348</td>
      <td>348</td>
      <td>442</td>
      <td>442</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>48862</td>
      <td>48862</td>
      <td>48862</td>
      <td>35390</td>
      <td>35390</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>2234.26</td>
      <td>2234.26</td>
      <td>2234.26</td>
      <td>913.193</td>
      <td>913.626</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>93</td>
      <td>93</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>channel</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>2014-08-27</td>
      <td>2014-08-29</td>
      <td>2014-08-29</td>
      <td>2014-11-23</td>
      <td>2014-11-23</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>2014-08-31</td>
      <td>2014-09-02</td>
      <td>2014-09-02</td>
      <td>2014-11-28</td>
      <td>2014-11-28</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>8250</td>
      <td>8250</td>
      <td>8250</td>
      <td>14984</td>
      <td>14984</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>is_booking</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>cnt</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>628</td>
      <td>628</td>
      <td>628</td>
      <td>1457</td>
      <td>1457</td>
    </tr>
    <tr>
      <th>hotel_cluster</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>80</td>
      <td>21</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
test_set.head().transpose()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>id</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>date_time</th>
      <td>2015-09-03 17:09:54</td>
      <td>2015-09-24 17:38:35</td>
      <td>2015-06-07 15:53:02</td>
      <td>2015-09-14 14:49:10</td>
      <td>2015-07-17 09:32:04</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>174</td>
      <td>174</td>
      <td>142</td>
      <td>258</td>
      <td>467</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>37449</td>
      <td>37449</td>
      <td>17440</td>
      <td>34156</td>
      <td>36345</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>5539.06</td>
      <td>5873.29</td>
      <td>3975.98</td>
      <td>1508.6</td>
      <td>66.7913</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>1</td>
      <td>1</td>
      <td>20</td>
      <td>28</td>
      <td>50</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>channel</th>
      <td>3</td>
      <td>10</td>
      <td>1</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>2016-05-19</td>
      <td>2016-05-12</td>
      <td>2015-07-26</td>
      <td>2015-09-14</td>
      <td>2015-07-22</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>2016-05-23</td>
      <td>2016-05-15</td>
      <td>2015-07-27</td>
      <td>2015-09-16</td>
      <td>2015-07-23</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>12243</td>
      <td>14474</td>
      <td>11353</td>
      <td>8250</td>
      <td>11812</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>6</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>204</td>
      <td>204</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>27</td>
      <td>1540</td>
      <td>699</td>
      <td>628</td>
      <td>538</td>
    </tr>
  </tbody>
</table>
</div>

## Let's explore both sets:
1. Common columns
2. Dimensions
2. dtypes
3. unique values (for categorization)
4. Nulls
5. 
5.

In [105]:
# COMMON COLUMNS
setA = pd.DataFrame({'Train': train_set.columns})
setB = pd.DataFrame({'Train': test_set.columns, 'Test': ['X' for x in range(test_set.shape[1])]})
pd.merge(setA, setB, how='outer', left_on='Train', right_on='Train')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>date_time</td>
      <td>X</td>
    </tr>
    <tr>
      <th>1</th>
      <td>site_name</td>
      <td>X</td>
    </tr>
    <tr>
      <th>2</th>
      <td>posa_continent</td>
      <td>X</td>
    </tr>
    <tr>
      <th>3</th>
      <td>user_location_country</td>
      <td>X</td>
    </tr>
    <tr>
      <th>4</th>
      <td>user_location_region</td>
      <td>X</td>
    </tr>
    <tr>
      <th>5</th>
      <td>user_location_city</td>
      <td>X</td>
    </tr>
    <tr>
      <th>6</th>
      <td>orig_destination_distance</td>
      <td>X</td>
    </tr>
    <tr>
      <th>7</th>
      <td>user_id</td>
      <td>X</td>
    </tr>
    <tr>
      <th>8</th>
      <td>is_mobile</td>
      <td>X</td>
    </tr>
    <tr>
      <th>9</th>
      <td>is_package</td>
      <td>X</td>
    </tr>
    <tr>
      <th>10</th>
      <td>channel</td>
      <td>X</td>
    </tr>
    <tr>
      <th>11</th>
      <td>srch_ci</td>
      <td>X</td>
    </tr>
    <tr>
      <th>12</th>
      <td>srch_co</td>
      <td>X</td>
    </tr>
    <tr>
      <th>13</th>
      <td>srch_adults_cnt</td>
      <td>X</td>
    </tr>
    <tr>
      <th>14</th>
      <td>srch_children_cnt</td>
      <td>X</td>
    </tr>
    <tr>
      <th>15</th>
      <td>srch_rm_cnt</td>
      <td>X</td>
    </tr>
    <tr>
      <th>16</th>
      <td>srch_destination_id</td>
      <td>X</td>
    </tr>
    <tr>
      <th>17</th>
      <td>srch_destination_type_id</td>
      <td>X</td>
    </tr>
    <tr>
      <th>18</th>
      <td>is_booking</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>cnt</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>hotel_continent</td>
      <td>X</td>
    </tr>
    <tr>
      <th>21</th>
      <td>hotel_country</td>
      <td>X</td>
    </tr>
    <tr>
      <th>22</th>
      <td>hotel_market</td>
      <td>X</td>
    </tr>
    <tr>
      <th>23</th>
      <td>hotel_cluster</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>id</td>
      <td>X</td>
    </tr>
  </tbody>
</table>
</div>

In [126]:
# Dimensions
train_set.shape, test_set.shape

((100000, 24), (2528243, 22))

In [42]:
# DATA TYPES
train_set.dtypes

date_time                     object
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_ci                       object
srch_co                       object
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
dtype: object

In [127]:
# % OF NULL VALUES
setA = (train_set.isnull().sum() / train_set.shape[0]) * 100
setB = (test_set.isnull().sum() / test_set.shape[0]) * 100
pd.concat([setA, setB], join='outer', axis=1, keys=('Train', 'Test'))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>channel</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>cnt</th>
      <td>0.000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>date_time</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>hotel_cluster</th>
      <td>0.000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>id</th>
      <td>NaN</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>is_booking</th>
      <td>0.000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>36.922</td>
      <td>33.519761</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>0.071</td>
      <td>0.000831</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>0.071</td>
      <td>0.000672</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>0.000</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [131]:
# UNIQUE VALUES IN EACH COLUMN
train_set.apply(lambda x: x.value_counts().count())
#setB = test_set.apply(lambda x: x.value_counts().count())
#pd.concat([setA, setB], axis=1, keys=('Train', 'Test'))

date_time                    99840
site_name                       38
posa_continent                   5
user_location_country          123
user_location_region           510
user_location_city            3751
orig_destination_distance    43021
user_id                       3478
is_mobile                        2
is_package                       2
channel                         11
srch_ci                       1029
srch_co                       1034
srch_adults_cnt                 10
srch_children_cnt               10
srch_rm_cnt                      9
srch_destination_id           5296
srch_destination_type_id         8
is_booking                       2
cnt                             30
hotel_continent                  6
hotel_country                  152
hotel_market                  1531
hotel_cluster                  100
dtype: int64

In [123]:
lista = []
for col in range(len(test_set.columns)):
    lista.append(test_set.iloc[:, col].value_counts().count())
pd.Series(lista, index=test_set.columns)

id                           2528243
date_time                    2399366
site_name                         53
posa_continent                     5
user_location_country            236
user_location_region             988
user_location_city             36722
orig_destination_distance    1344826
user_id                      1181577
is_mobile                          2
is_package                         2
channel                           11
srch_ci                          778
srch_co                          772
srch_adults_cnt                   10
srch_children_cnt                 10
srch_rm_cnt                        9
srch_destination_id            40718
srch_destination_type_id           8
hotel_continent                    7
hotel_country                    206
hotel_market                    2115
dtype: int64

## Prepare Datasets for analysis:
1. convert dates to dates format
2.

In [133]:
train_set['date_time'] = pd.to_datetime(train_set.date_time)

In [138]:
train_set.date_time

0       2014-08-11 07:46:59
1       2014-08-11 08:22:12
2       2014-08-11 08:24:33
3       2014-08-09 18:05:16
4       2014-08-09 18:08:18
5       2014-08-09 18:13:12
6       2014-07-16 09:42:23
7       2014-07-16 09:45:48
8       2014-07-16 09:52:11
9       2014-07-16 09:55:24
10      2014-07-16 10:00:06
11      2014-07-16 10:02:58
12      2014-01-17 06:24:56
13      2014-01-18 14:33:31
14      2014-01-21 06:39:08
15      2014-01-21 06:40:18
16      2014-01-22 06:10:02
17      2014-01-24 11:52:04
18      2014-01-24 17:26:24
19      2014-02-27 17:44:23
20      2014-02-27 18:01:32
21      2014-12-30 09:50:51
22      2014-12-30 09:55:43
23      2014-12-30 09:56:26
24      2014-10-22 12:20:56
25      2014-11-10 12:38:02
26      2013-06-15 15:10:49
27      2013-06-15 15:38:05
28      2014-11-22 14:32:46
29      2014-11-22 14:37:05
                ...
99970   2013-03-13 09:08:59
99971   2013-03-13 09:09:34
99972   2013-03-13 09:12:23
99973   2013-03-13 09:12:40
99974   2013-03-13 09:13:16
99975   2013-03-13 09:14:23
99976   2013-03-13 09:15:42
99977   2013-03-13 09:16:33
99978   2013-03-13 09:20:15
99979   2013-03-13 09:21:19
99980   2013-03-13 09:22:39
99981   2013-03-13 09:23:49
99982   2013-03-13 09:24:38
99983   2013-03-13 09:29:51
99984   2013-03-13 09:46:08
99985   2013-03-13 10:05:43
99986   2013-03-13 10:06:28
99987   2013-03-27 17:35:09
99988   2013-03-27 17:35:59
99989   2013-03-27 17:37:15
99990   2013-03-31 20:29:55
99991   2013-03-31 20:30:30
99992   2013-03-31 20:31:09
99993   2013-03-31 20:32:23
99994   2013-04-01 14:26:06
99995   2013-04-01 14:26:31
99996   2013-04-01 17:01:22
99997   2013-04-01 17:04:26
99998   2013-04-01 17:05:01
99999   2013-04-01 18:15:01
Name: date_time, Length: 100000, dtype: datetime64[ns]