# Expedia

###Introduction 
Planning your dream vacation, or even a weekend escape, can be an overwhelming affair. With hundreds, even thousands, of hotels to choose from at every destination, it's difficult to know which will suit your personal preferences. Should you go with an old standby with those pillow mints you like, or risk a new hotel with a trendy pool bar? 

Expedia wants to take the proverbial rabbit hole out of hotel search by providing personalized hotel recommendations to their users. This is no small task for a site with hundreds of millions of visitors every month!

Currently, Expedia uses search parameters to adjust their hotel recommendations, but there aren't enough customer specific data to personalize them for each user. In this competition, Expedia is challenging Kagglers to contextualize customer data and predict the likelihood a user will stay at 100 different hotel groups.

The data in this competition is a random selection from Expedia and is not representative of the overall statistics. 

###Data Description
Expedia has provided you logs of customer behavior. These include what customers searched for, how they interacted with search results (click/book), whether or not the search result was a travel package. The data in this competition is a random selection from Expedia and is not representative of the overall statistics.

Expedia is interested in predicting which hotel group a user is going to book. Expedia has in-house algorithms to form hotel clusters, where similar hotels for a search (based on historical price, customer star ratings, geographical locations relative to city center, etc) are grouped together. These hotel clusters serve as good identifiers to which types of hotels people are going to book, while avoiding outliers such as new hotels that don't have historical data.

Your goal of this competition is to predict the booking outcome (hotel cluster) for a user event, based on their search and other attributes associated with that user event.

The train and test datasets are split based on time: training data from 2013 and 2014, while test data are from 2015. The public/private leaderboard data are split base on time as well. Training data includes all the users in the logs, including both click events and booking events. Test data only includes booking events. 

destinations.csv data consists of features extracted from hotel reviews text. 

Note that some srch_destination_id's in the train/test files don't exist in the destinations.csv file. This is because some hotels are new and don't have enough features in the latent space. Your algorithm should be able to handle this missing information.

###File descriptions
- train.csv - the training set
- test.csv - the test set
- destinations.csv - hotel search latent attributes
- sample_submission.csv - a sample submission file in the correct format

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column name</th>
      <th>Description</th>
      <th>Data type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>date_time</td>
      <td>Timestamp</td>
      <td>string</td>
    </tr>
    <tr>
      <th>1</th>
      <td>site_name</td>
      <td>ID of the Expedia point of sale (i.e. Expedia....</td>
      <td>int</td>
    </tr>
    <tr>
      <th>2</th>
      <td>posa_continent</td>
      <td>ID of continent associated with site_name</td>
      <td>int</td>
    </tr>
    <tr>
      <th>3</th>
      <td>user_location_country</td>
      <td>The ID of the country the customer is located</td>
      <td>int</td>
    </tr>
    <tr>
      <th>4</th>
      <td>user_location_region</td>
      <td>The ID of the region the customer is located</td>
      <td>int</td>
    </tr>
    <tr>
      <th>5</th>
      <td>user_location_city</td>
      <td>The ID of the city the customer is located</td>
      <td>int</td>
    </tr>
    <tr>
      <th>6</th>
      <td>orig_destination_distance</td>
      <td>Physical distance between a hotel and a custom...</td>
      <td>double</td>
    </tr>
    <tr>
      <th>7</th>
      <td>user_id</td>
      <td>ID of user</td>
      <td>int</td>
    </tr>
    <tr>
      <th>8</th>
      <td>is_mobile</td>
      <td>1 when a user connected from a mobile device, ...</td>
      <td>tinyint</td>
    </tr>
    <tr>
      <th>9</th>
      <td>is_package</td>
      <td>1 if the click/booking was generated as a part...</td>
      <td>int</td>
    </tr>
    <tr>
      <th>10</th>
      <td>channel</td>
      <td>ID of a marketing channel</td>
      <td>int</td>
    </tr>
    <tr>
      <th>11</th>
      <td>srch_ci</td>
      <td>Checkin date</td>
      <td>string</td>
    </tr>
    <tr>
      <th>12</th>
      <td>srch_co</td>
      <td>Checkout date</td>
      <td>string</td>
    </tr>
    <tr>
      <th>13</th>
      <td>srch_adults_cnt</td>
      <td>The number of adults specified in the hotel room</td>
      <td>int</td>
    </tr>
    <tr>
      <th>14</th>
      <td>srch_children_cnt</td>
      <td>The number of (extra occupancy) children speci...</td>
      <td>int</td>
    </tr>
    <tr>
      <th>15</th>
      <td>srch_rm_cnt</td>
      <td>The number of hotel rooms specified in the search</td>
      <td>int</td>
    </tr>
    <tr>
      <th>16</th>
      <td>srch_destination_id</td>
      <td>ID of the destination where the hotel search w...</td>
      <td>int</td>
    </tr>
    <tr>
      <th>17</th>
      <td>srch_destination_type_id</td>
      <td>Type of destination</td>
      <td>int</td>
    </tr>
    <tr>
      <th>18</th>
      <td>hotel_continent</td>
      <td>Hotel continent</td>
      <td>int</td>
    </tr>
    <tr>
      <th>19</th>
      <td>hotel_country</td>
      <td>Hotel country</td>
      <td>int</td>
    </tr>
    <tr>
      <th>20</th>
      <td>hotel_market</td>
      <td>Hotel market</td>
      <td>int</td>
    </tr>
    <tr>
      <th>21</th>
      <td>is_booking</td>
      <td>1 if a booking, 0 if a click</td>
      <td>tinyint</td>
    </tr>
    <tr>
      <th>22</th>
      <td>cnt</td>
      <td>Numer of similar events in the context of the ...</td>
      <td>bigint</td>
    </tr>
    <tr>
      <th>23</th>
      <td>hotel_cluster</td>
      <td>ID of a hotel cluster</td>
      <td>int</td>
    </tr>
  </tbody>
</table>
</div>

In [1]:
# import libraries
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [3]:
# IMPORT DATA
start = dt.now()
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project2_Expedia\\'
train_set = pd.read_csv(dir + 'train.csv', nrows=1000000)
#train = pd.DataFrame(columns=[])
#train_set = 
test_set = pd.read_csv(dir + 'test.csv', nrows=10000)
dest_set  = pd.read_csv(dir + 'destinations.csv')
end = dt.now()
'Import lasted: {0} seconds.\nTotal number of rows imported:{1}(train), {2} (test).'\
    .format((end - start).seconds, train_set.shape[0], test_set.shape[0])

'Import lasted: 7'

In [25]:
# Train set summary:
columns = pd.read_excel('C:\\Users\\Lenovo\\PycharmProjects\\Kaggle\\Project2_Expedia\\Fields_description.xlsx')
nulls = train_set.isnull().sum()
nulls.name = 'Nulls'
uniques = train_set.apply(lambda x: x.value_counts().count())
uniques.name = 'UniqueValues'
columns.set_index('column_name').join(nulls).join(uniques)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Data type</th>
      <th>Nulls</th>
      <th>UniqueValues</th>
    </tr>
    <tr>
      <th>column_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>date_time</th>
      <td>Timestamp</td>
      <td>string</td>
      <td>0</td>
      <td>987199</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>ID of the Expedia point of sale (i.e. Expedia....</td>
      <td>int</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>ID of continent associated with site_name</td>
      <td>int</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>The ID of the country the customer is located</td>
      <td>int</td>
      <td>0</td>
      <td>183</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>The ID of the region the customer is located</td>
      <td>int</td>
      <td>0</td>
      <td>776</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>The ID of the city the customer is located</td>
      <td>int</td>
      <td>0</td>
      <td>12920</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>Physical distance between a hotel and a custom...</td>
      <td>double</td>
      <td>370247</td>
      <td>400861</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>ID of user</td>
      <td>int</td>
      <td>0</td>
      <td>32783</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>1 when a user connected from a mobile device, ...</td>
      <td>tinyint</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>1 if the click/booking was generated as a part...</td>
      <td>int</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>channel</th>
      <td>ID of a marketing channel</td>
      <td>int</td>
      <td>0</td>
      <td>11</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>Checkin date</td>
      <td>string</td>
      <td>998</td>
      <td>1108</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>Checkout date</td>
      <td>string</td>
      <td>999</td>
      <td>1111</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>The number of adults specified in the hotel room</td>
      <td>int</td>
      <td>0</td>
      <td>10</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>The number of (extra occupancy) children speci...</td>
      <td>int</td>
      <td>0</td>
      <td>10</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>The number of hotel rooms specified in the search</td>
      <td>int</td>
      <td>0</td>
      <td>9</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>ID of the destination where the hotel search w...</td>
      <td>int</td>
      <td>0</td>
      <td>16964</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>Type of destination</td>
      <td>int</td>
      <td>0</td>
      <td>8</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>Hotel continent</td>
      <td>int</td>
      <td>0</td>
      <td>7</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>Hotel country</td>
      <td>int</td>
      <td>0</td>
      <td>202</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>Hotel market</td>
      <td>int</td>
      <td>0</td>
      <td>2049</td>
    </tr>
    <tr>
      <th>is_booking</th>
      <td>1 if a booking, 0 if a click</td>
      <td>tinyint</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>cnt</th>
      <td>Numer of similar events in the context of the ...</td>
      <td>bigint</td>
      <td>0</td>
      <td>49</td>
    </tr>
    <tr>
      <th>hotel_cluster</th>
      <td>ID of a hotel cluster</td>
      <td>int</td>
      <td>0</td>
      <td>100</td>
    </tr>
  </tbody>
</table>
</div>

date_time                         0
site_name                         0
posa_continent                    0
user_location_country             0
user_location_region              0
user_location_city                0
orig_destination_distance    370247
user_id                           0
is_mobile                         0
is_package                        0
channel                           0
srch_ci                         998
srch_co                         999
srch_adults_cnt                   0
srch_children_cnt                 0
srch_rm_cnt                       0
srch_destination_id               0
srch_destination_type_id          0
is_booking                        0
cnt                               0
hotel_continent                   0
hotel_country                     0
hotel_market                      0
hotel_cluster                     0
dtype: int64

In [5]:
train_set.head().transpose()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>date_time</th>
      <td>2014-08-11 07:46:59</td>
      <td>2014-08-11 08:22:12</td>
      <td>2014-08-11 08:24:33</td>
      <td>2014-08-09 18:05:16</td>
      <td>2014-08-09 18:08:18</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>348</td>
      <td>348</td>
      <td>348</td>
      <td>442</td>
      <td>442</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>48862</td>
      <td>48862</td>
      <td>48862</td>
      <td>35390</td>
      <td>35390</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>2234.26</td>
      <td>2234.26</td>
      <td>2234.26</td>
      <td>913.193</td>
      <td>913.626</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>93</td>
      <td>93</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>channel</th>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>2014-08-27</td>
      <td>2014-08-29</td>
      <td>2014-08-29</td>
      <td>2014-11-23</td>
      <td>2014-11-23</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>2014-08-31</td>
      <td>2014-09-02</td>
      <td>2014-09-02</td>
      <td>2014-11-28</td>
      <td>2014-11-28</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>8250</td>
      <td>8250</td>
      <td>8250</td>
      <td>14984</td>
      <td>14984</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>is_booking</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>cnt</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>628</td>
      <td>628</td>
      <td>628</td>
      <td>1457</td>
      <td>1457</td>
    </tr>
    <tr>
      <th>hotel_cluster</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>80</td>
      <td>21</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
test_set.head().transpose()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>id</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>date_time</th>
      <td>2015-09-03 17:09:54</td>
      <td>2015-09-24 17:38:35</td>
      <td>2015-06-07 15:53:02</td>
      <td>2015-09-14 14:49:10</td>
      <td>2015-07-17 09:32:04</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
      <td>66</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>174</td>
      <td>174</td>
      <td>142</td>
      <td>258</td>
      <td>467</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>37449</td>
      <td>37449</td>
      <td>17440</td>
      <td>34156</td>
      <td>36345</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>5539.06</td>
      <td>5873.29</td>
      <td>3975.98</td>
      <td>1508.6</td>
      <td>66.7913</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>1</td>
      <td>1</td>
      <td>20</td>
      <td>28</td>
      <td>50</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>channel</th>
      <td>3</td>
      <td>10</td>
      <td>1</td>
      <td>10</td>
      <td>0</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>2016-05-19</td>
      <td>2016-05-12</td>
      <td>2015-07-26</td>
      <td>2015-09-14</td>
      <td>2015-07-22</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>2016-05-23</td>
      <td>2016-05-15</td>
      <td>2015-07-27</td>
      <td>2015-09-16</td>
      <td>2015-07-23</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>12243</td>
      <td>14474</td>
      <td>11353</td>
      <td>8250</td>
      <td>11812</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>6</td>
      <td>7</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>204</td>
      <td>204</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>27</td>
      <td>1540</td>
      <td>699</td>
      <td>628</td>
      <td>538</td>
    </tr>
  </tbody>
</table>
</div>

## Let's explore both sets:
1. Common columns
* Dimensions
* dtypes
* unique values (for categorization)
* Nulls
* 
*

In [8]:
# COMMON COLUMNS
setA = pd.DataFrame({'Train': train_set.columns})
setB = pd.DataFrame({'Train': test_set.columns, 'Test': ['X' for x in range(test_set.shape[1])]})
pd.merge(setA, setB, how='outer', left_on='Train', right_on='Train')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>date_time</td>
      <td>X</td>
    </tr>
    <tr>
      <th>1</th>
      <td>site_name</td>
      <td>X</td>
    </tr>
    <tr>
      <th>2</th>
      <td>posa_continent</td>
      <td>X</td>
    </tr>
    <tr>
      <th>3</th>
      <td>user_location_country</td>
      <td>X</td>
    </tr>
    <tr>
      <th>4</th>
      <td>user_location_region</td>
      <td>X</td>
    </tr>
    <tr>
      <th>5</th>
      <td>user_location_city</td>
      <td>X</td>
    </tr>
    <tr>
      <th>6</th>
      <td>orig_destination_distance</td>
      <td>X</td>
    </tr>
    <tr>
      <th>7</th>
      <td>user_id</td>
      <td>X</td>
    </tr>
    <tr>
      <th>8</th>
      <td>is_mobile</td>
      <td>X</td>
    </tr>
    <tr>
      <th>9</th>
      <td>is_package</td>
      <td>X</td>
    </tr>
    <tr>
      <th>10</th>
      <td>channel</td>
      <td>X</td>
    </tr>
    <tr>
      <th>11</th>
      <td>srch_ci</td>
      <td>X</td>
    </tr>
    <tr>
      <th>12</th>
      <td>srch_co</td>
      <td>X</td>
    </tr>
    <tr>
      <th>13</th>
      <td>srch_adults_cnt</td>
      <td>X</td>
    </tr>
    <tr>
      <th>14</th>
      <td>srch_children_cnt</td>
      <td>X</td>
    </tr>
    <tr>
      <th>15</th>
      <td>srch_rm_cnt</td>
      <td>X</td>
    </tr>
    <tr>
      <th>16</th>
      <td>srch_destination_id</td>
      <td>X</td>
    </tr>
    <tr>
      <th>17</th>
      <td>srch_destination_type_id</td>
      <td>X</td>
    </tr>
    <tr>
      <th>18</th>
      <td>is_booking</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>cnt</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>hotel_continent</td>
      <td>X</td>
    </tr>
    <tr>
      <th>21</th>
      <td>hotel_country</td>
      <td>X</td>
    </tr>
    <tr>
      <th>22</th>
      <td>hotel_market</td>
      <td>X</td>
    </tr>
    <tr>
      <th>23</th>
      <td>hotel_cluster</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>id</td>
      <td>X</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
# Dimensions
train_set.shape, test_set.shape

((1000000, 24), (10000, 22))

In [9]:
# DATA TYPES
train_set.dtypes

date_time                     object
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_ci                       object
srch_co                       object
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
dtype: object

important: below nulls for test set is lower due to not loading the whole data but only 100000 rows.

In [10]:
# % OF NULL VALUES
setA = (train_set.isnull().sum() / train_set.shape[0]) * 100
setB = (test_set.isnull().sum() / test_set.shape[0]) * 100
pd.concat([setA, setB], join='outer', axis=1, keys=('Train', 'Test'))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Train</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>channel</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>cnt</th>
      <td>0.0000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>date_time</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>hotel_cluster</th>
      <td>0.0000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>hotel_continent</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>hotel_country</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>hotel_market</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>id</th>
      <td>NaN</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>is_booking</th>
      <td>0.0000</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>is_mobile</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>is_package</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>orig_destination_distance</th>
      <td>37.0247</td>
      <td>41.07</td>
    </tr>
    <tr>
      <th>posa_continent</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>site_name</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_adults_cnt</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_children_cnt</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_ci</th>
      <td>0.0998</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_co</th>
      <td>0.0999</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_destination_id</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_destination_type_id</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>srch_rm_cnt</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>user_id</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>user_location_city</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>user_location_country</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>user_location_region</th>
      <td>0.0000</td>
      <td>0.00</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
# UNIQUE VALUES IN EACH COLUMN
#setB = test_set.apply(lambda x: x.value_counts().count())
#pd.concat([setA, setB], axis=1, keys=('Train', 'Test'))

date_time                    987199
site_name                        42
posa_continent                    5
user_location_country           183
user_location_region            776
user_location_city            12920
orig_destination_distance    400861
user_id                       32783
is_mobile                         2
is_package                        2
channel                          11
srch_ci                        1108
srch_co                        1111
srch_adults_cnt                  10
srch_children_cnt                10
srch_rm_cnt                       9
srch_destination_id           16964
srch_destination_type_id          8
is_booking                        2
cnt                              49
hotel_continent                   7
hotel_country                   202
hotel_market                   2049
hotel_cluster                   100
dtype: int64

In [12]:
lista = []
for col in range(len(test_set.columns)):
    lista.append(test_set.iloc[:, col].value_counts().count())
pd.Series(lista, index=test_set.columns)

id                           10000
date_time                     9996
site_name                       30
posa_continent                   5
user_location_country          107
user_location_region           427
user_location_city            2682
orig_destination_distance     5878
user_id                       4665
is_mobile                        2
is_package                       2
channel                         11
srch_ci                        583
srch_co                        576
srch_adults_cnt                 10
srch_children_cnt                7
srch_rm_cnt                      9
srch_destination_id           3372
srch_destination_type_id         8
hotel_continent                  7
hotel_country                  137
hotel_market                  1363
dtype: int64

## Prepare Datasets for analysis:
1. convert dates to dates format
2. Remove nulls from:
	- srch_ci, srch_co by

In [13]:
# CONVERT DATES TO DATETIME type
columns_to_change = ['date_time', 'srch_ci', 'srch_co']

for col in columns_to_change:
    train_set.loc[:, col] = pd.to_datetime(train_set.loc[:, col])
for col in columns_to_change:
    test_set.loc[:, col] = pd.to_datetime(test_set.loc[:, col])

In [162]:
# REMOVE NULL VALUES
train_set.loc[:, ['srch_ci', 'srch_co']].removenull()

Because of the size of train data set and small number of nulls in search_ci, search_co I decided to simply delete those observations.